body{
background-color: white;;
}
.App {
  /* text-align: center; */
  /* margin: 30px auto; */
  /* border: 2px red solid; */
  /* width: 100%; */
}

.App-header {
  display: flex;
  min-height: 5vh;
  background-color: white;
  color: black;
  font-size: 2em;
  font-family: 'Shadows Into Light', cursive;
  /* justify-content: center; */
  padding-left: 30px;
  border-bottom: 2px solid black;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#Project-header{
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
  border-bottom: 2px black solid;
  /* min-height: 5vh; */
}

#projectTitle{
  flex: 1 1 100px;
  color: black;
  font-family: 'Unica One', cursive;
  font-size: 1.7em;
  padding: 5px 0 5px 30px;
}

button#newTask{
  flex: 0 0 auto;
  width: 100px;
  margin: auto 0;
  height: 30px;
  margin-right: 30px;
  font-family: 'Unica One', cursive;
  font-size: 1em;

}
  
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.Components {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0;
  background-color: white;

}

.componentColumn{
  width: 32%;
  height: 700px;
  margin: auto;
  border: 1px black solid;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 20px 50px grey;
}

#Queue-header, #InProgress-header, #Done-header{
  border: 1px solid black;
  border-radius: 15px 15px 0 0;
}

.columnTitle{
  margin: 0;
  text-align: center;
  font-family: 'Unica One', cursive;
  font-size: 1.2em;
  border-radius: 15px 15px 0 0;
}

#queueTitle{
  background-color: lightcoral;
}

#inProgressTitle{
  background-color: powderblue;
}

#doneTitle{
  background-color: mediumaquamarine;
}