body{
background-color: white;;
}

.App-header {
  display: flex;
  min-height: 5vh;
  background-color: rgb(91, 135, 172);
  color: white;
  font-size: 2em;
  font-family: 'Shadows Into Light', cursive;
  justify-content: center;
  /* padding-left: 30px; */
  border-bottom: 2px solid black;
  /* text-align: center; */
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#Project-header{
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
  border-bottom: 2px black solid;
  /* min-height: 5vh; */
}

#projectTitle{
  flex: 1 1 100px;
  color: black;
  font-family: 'Unica One', cursive;
  font-size: 1.7em;
  padding: 5px 0 5px 30px;
}
#nav-bar{
  width: 100%;
}

button#newTask, button#homeBtn, button#BoardsBtn{
  flex: 0 0 auto;
  width: 120px;
  margin: 10px;
  height: 30px;
  /* margin-right: 30px; */
  font-family: 'Unica One', cursive;
  font-size: 1.2em;

}
  
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.Components {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0;
  background-color: white;
}

.componentColumn{
  width: 32%;
  height: 700px;
  margin: auto;
  border: 1.5px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 20px 50px grey;
}

#Queue-header, #InProgress-header, #Done-header{
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
}

.columnTitle{
  margin: 0;
  text-align: center;
  font-family: 'Unica One', cursive;
  font-size: 1.4em;
  border-radius: 10px 10px 0 0;
}

#queueTitle{
  background-color: lightcoral;
}

#inProgressTitle{
  background-color: rgb(132, 227, 240);
}

#doneTitle{
  background-color: mediumaquamarine;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.QueueCard{
  margin: 10px;
  border: 2px solid lightcoral;
  border-radius: 3px;
  background-color: rgb(255, 221, 217);
}

.InProgCard{
  margin: 10px;
  border: 2px solid rgb(122, 210, 221);
  border-radius: 3px;
  background-color: rgb(208, 249, 255);
}

.DoneCard{
  margin: 10px;
  border: 2px solid mediumaquamarine;
  border-radius: 3px;
  background-color: rgb(214, 255, 241);
}

.cardInfo{
  padding: 5px 10px;

}
.cardTitle {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}

.cardBody {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-style: italic;
}

.cardPriority, .cardStatus, .cardCreatedBy{
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

.cardAssignedTo{
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  text-align: right;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

form {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px;
  font-family: 'Oxygen', sans-serif;
  width: 50%;
  font-weight: bold;
}

input[type=text], select {
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  font-size: 1em;
}

button[type=submit] {
  width: 100%;
  background-color: rgb(46, 206, 255);
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

button:hover{
  background-color: rgb(80, 176, 231);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#welcomeMsg{
  text-align: center;
  font-size: 3em;
  font-family: 'Shadows Into Light', cursive;
  height: 100%;
  margin: auto 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.editForm {
  margin: 5px 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  font-family: 'Oxygen', sans-serif;
  width: 89%;
  font-weight: bold;
}

input.editInput[type=text], select {
  margin: 5px;
  padding: 5px;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  font-size: 0.8em;
}

.editLabel{
  font-size: 0.8em;
}

select.editSelect{
  font-size: 0.8em;
}

button.editSubmitBtn[type=submit] {
  width: 95%;
  background-color: rgb(46, 206, 255);
  color: black;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}

button:hover{
  background-color: rgb(80, 176, 231);
}




/* Button used to open the contact form - fixed at the bottom of the page */
/* .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
} */

/* The popup form - hidden by default */
/* .form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
} */

/* Add styles to the form container */
/* .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
} */

/* Full-width input fields */
/* .form-container input[type=text], .form-container input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 10px 0 10px 0;
  border: 1px solid black;
  background: lightgray;
} */

/* When the inputs get focus, do something */
/* .form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
} */

/* Set a style for the submit/login button */
/* .form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
} */

/* Add a red background color to the cancel button */
/* .form-container .cancel {
  background-color: red;
} */

/* Add some hover effects to buttons */
/* .form-container .btn:hover, .open-button:hover {
  opacity: 1;
} */